<div fxLayout="row wrap" style="height:100%;" fxLayoutAlign="center start" [fxShow]="true">
  <div fxLayout="column wrap" fxLayoutAlign="start none" [fxShow]="true">
    <form #weatherForm="ngForm" style="margin-bottom:0 !important;">
      <div fxLayout="row wrap" style="width:500px;" fxLayoutAlign="space-between center" [fxShow]="true">
        <mat-form-field style="flex-basis:75%;" [appearance]="&apos;standard&apos;" [floatLabel]="&apos;auto&apos;" [hideRequiredMarker]="false">
          <input matInput [(ngModel)]="page.searchString" name="searchIp" placeholder="Enter city name*" [required]="false" autocomplete="on" #searchIp="ngModel">

        </mat-form-field><button mat-raised-button (click)="processWeather(page.searchString)" type="submit">Get weather</button>
      </div>
    </form>
    <bh-weatherCard [showCard]="page.showCard" [weatherdata]="page.weatherdata" (logData)="updateLog($event)"></bh-weatherCard>
    <bh-logPage [logArray]="page.logArray"></bh-logPage>
  </div>
</div>